manifest {

	name = 'RatesTools'
	author = 'Michael G. Campana, Ellie E. Armstrong'
    homePage = 'https://github.com/campanam/RatesTools'
    description = 'Pipeline to calculate de novo mutation rates'
    mainScript = 'ratestools.nf'
    version = '0.1.0'
    nextflowVersion = '>=20.10.0'

}

params {

	refseq = "$baseDir/ref.fa" // Reference sequence
	reads = "$baseDir/*_{R1,R2}_001.fastq*" // Read pairs
	bwa_alg = "" // algorithm for BWA index. Leaving blank permits BWA to infer algorithm
	bwa_threads = 20 // Number of threads for BWA-MEM
	markDuplicates = "picard" // Choice of 'picard' or 'sambamba' for markDuplicates
	picard = "$baseDir/picard.jar" // Path for Picard jar file
	picard_java = "" // Java options for Picard
	gatk = "$baseDir/GenomeAnalysisTK.jar" // Path for GATK 3.8-1 jar file
	gatk_java = "" // Java options for GATK
	gatk_nct = 16 // Parallelization for GATK (when available)
	rm_species = "mouse" // Species name for RepeatMasker
	rm_pa = 24 // Number of parallel jobs for RepeatMasker/RepeatModeler
	prefix = "out" // Prefix for final datasets
	outdir = "results" // Directory for final results
	dam = "SRR" // Sample name for dam
	sire = "SRR2" // Sample name for sire
	site_filters = "--minDP 30 --minGQ 65 --maxDP 250 --max-missing 1 --min-alleles 1 --max-alleles 2" // Site filters to pass to VCFtools
	chr_file = "$baseDir/chr.txt" // File listing chromosomes to keep in analysis. Set to "NULL" to ignore this filter. 
	dnm_opts = "-b 100 -M 10 -w 100000 -l 100000 -S 50000" // options for calc_denovo_mutation_rate

}

profiles {
	
	standard {
		process.executor = 'local'
	}
	
	gridengine {
		process.executor = 'sge'
		process {
			withName: prepareRef {
				cpus = 1
				queue = 'sThC.q'
				clusterOptions = '-l mres=2G,h_data=2G,h_vmem=2G -S /bin/bash'
				module = 'bioinformatics/samtools/1.9:bioinformatics/bwa/0.7.17'
			}
		}
	}
}