/* RatesTools version 0.5.8
Michael G. Campana and Ellie E. Armstrong, 2020-2022
Smithsonian Institution and Stanford University

CC0: To the extent possible under law, the Smithsonian Institution and Stanford 
University have waived all copyright and related or neighboring rights to RatesTools;
this work is published from the United States. You should have received a copy of the
CC0 legal code along with this work. If not, see 
<http://creativecommons.org/publicdomain/zero/1.0/>.
 
Armstrong, E.E. & M.G. Campana. 2022. RatesTools: a Nextflow pipeline for detecting
de novo germline mutations in pedigree sequence data. *bioRxiv*.
doi: 10.1101/2022.07.18.500472. */

manifest {

	name = 'RatesTools'
	author = 'Michael G. Campana, Ellie E. Armstrong'
	homePage = 'https://github.com/campanam/RatesTools'
	description = 'Pipeline to calculate de novo mutation rates'
	mainScript = 'ratestools.nf'
	version = 'v0.5.8'
	nextflowVersion = '>=20.10.0'

}

params {

	refseq = "$launchDir/ref.fa" // Reference sequence
	reads = "$launchDir/*{R1,R2}_001.fastq*" // Read pairs
	bwa_alg = "" // algorithm for BWA index. Value "" permits BWA to infer algorithm
	markDuplicates = "picard" // Choice of "picard" or "sambamba" for markDuplicates
	picard_conda = false // Install Picard via Nextflow Conda handling
	picard = "$launchDir/picard.jar" // Path for Picard jar file. Ignore if using Conda-installed Picard.
	picard_java = "" // Java options for Picard
	gatk_conda = false // Install GATK via Nextflow Conda handling
	gatk_build = 3 // Major version number of GATK. Currently supported values are 3 and 4.
	gatk = "$launchDir/GenomeAnalysisTK.jar" // Path for GATK jar file. Ignore if using Conda-installed GATK.
	gatk_java = "" // Java options for GATK
	gm_tmpdir = '/tmp' // Scratch directory for GenMap indexing
	rm_species = "Felidae" // Species name for RepeatMasker
	indelpad = 5 // Number of bases to remove on each side of an indel
	prefix = "test" // Prefix for final datasets
	outdir = "test_results" // Directory for final results
	dam = "SRR" // Sample name for dam
	sire = "SRR2" // Sample name for sire
	vcftools_site_filters = "--minDP 30 --minGQ 65 --maxDP 250 --max-missing 1 --min-alleles 1 --max-alleles 2" // Site filters to pass to VCFtools. Set to "NULL" to ignore this filter.
	gatk_site_filters = '--filterName "filter" --filterExpression "QUAL < 30.0 || QD < 2.0 || FS > 60.0 || MQ < 40.0 || SOR > 3.0 || ReadPosRankSum < 15 || MQRankSum < -12.5"' // Site filters to pass to GATK. Set to 'NULL' to ignore this filter.
	chr_file = "$launchDir/chr.txt" // File listing chromosomes to keep in analysis. Set to "NULL" to ignore this filter. 
	dnm_opts = "-b 100 -M 10 -w 100000 -l 100000 -S 50000 --parhom" // options for calc_denovo_mutation_rate
	email = "NULL" // Email to send completion status to. Set to "NULL" for no email.
	
}

modules {
	// List of Modules required for each executable. Set to "" for null value
	samtools = ""
	bcftools = ""
	bwa = ""
	java = ""
	sambamba = ""
	gzip = ""
	genmap = ""
	ruby = ""
	RepeatMasker = ""
	RepeatModeler = ""
	vcftools = ""
	bedtools = ""
	bgzip = ""
	tabix = ""
	awk = ""
	R = ""
	
}

profiles {
	
	standard {
		process {
			executor = 'local'
			// Setting modules for each process separately to minimize dependency incompatibilities
			withName: prepareRef {
				module = [modules.samtools, modules.bwa].minus("")
			}
			withName: alignSeqs {
				module = [modules.bwa, modules.samtools].minus("")
			}
			withName: sortBAM {
				module = [modules.samtools].minus("")
			}
			withName: markDuplicates {
				module = [modules.java, modules.sambamba].minus("")
			}
			withName: fixReadGroups {
				module = [modules.java].minus("")
			}
			withName: realignIndels {
				module = [modules.java].minus("")
			}
			withName: filterBAMs  {
				module = [modules.java].minus("")
			}
			withName: fixMate {
				module = [modules.java].minus("")
			}
			withName: callVariants {
				module = [modules.java].minus("")
			}
			withName: genotypegVCFs {
				module = [modules.java,modules.gzip].minus("")
			}
			withName: genMapIndex {
				module = [modules.genmap].minus("")
			}
			withName: genMapMap {
				module = [modules.genmap,modules.ruby].minus("")
			}
			withName: repeatMask {
				module = [modules.RepeatMasker].minus("")
			}
			withName: repeatModeler {
				module = [modules.RepeatModeler].minus("")
			}
			withName: repeatMaskRM {
				module = [modules.RepeatMasker,modules.ruby].minus("")
			}
			withName: maskIndels {
				module = [modules.ruby].minus("")
			}
			withName: simplifyBed {
				module = [modules.ruby].minus("")
			}
			withName: filterChr {
				module = [modules.vcftools,modules.gzip,modules.awk,modules.bcftools].minus("")
			}
			withName: splitTrios {
				module = [modules.vcftools,modules.gzip,modules.bcftools].minus("")
			}
			withName: pullDPGQ {
				module = [modules.bcftools].minus("")
			}
			withName: plotDPGQ {
				module = [modules.R].minus("")
			}
			withName: splitVCFs {
				module = [modules.ruby,modules.bgzip].minus("")			
			}
			withName: vcftoolsFilterSites {
				module = [modules.vcftools,modules.bgzip,modules.bcftools].minus("")
			}
			withName: gatkFilterSites {
				module = [modules.java,modules.tabix,modules.vcftools,modules.bcftools].minus("")
			}
			withName: filterRegions {
				module = [modules.bedtools,modules.vcftools,modules.gzip,modules.bcftools].minus("")
			}
			withName: calcDNMRate {
				module = [modules.ruby].minus("")
			}
			withName: summarizeDNM {
				module = [modules.ruby,modules.gzip,modules.bcftools].minus("")
			}
			withName: sanityCheckLogs {
				module = [modules.gzip].minus("")
			}
			withName: generateSummaryStats {
				module = [modules.ruby].minus("")
			}
		}
	}
	conda {
		*/ process {
			executor = 'local'
			params.picard_conda = true
			params.gatk_conda = true
			// Setting modules for each process separately to minimize dependency incompatibilities
			withName: 'prepareRef|alignSeqs|sortBAM' {
				conda = 'bioconda::bwa=0.7.17 bioconda::samtools=1.9'
			withName: markDuplicates {
				conda = 'bioconda::picard=2.23.8 bioconda::sambamba=0.7.1'
			}
			withName: 'fixReadGroups|fixMate' {
				conda = 'bioconda::picard=2.23.8'
			}
			withName: 'realignIndels|callVariants' {
				if ( params.gatk_build == 3 ) {
					conda = 'bioconda::picard=2.23.8 bioconda::gatk=3.8'
				} else if ( params.gatk_build == 4 ) {
					conda = 'bioconda::picard=2.23.8 bioconda::gatk4=4.2.3.0'
				}
			}
			withName: 'filterBAMs|genotypegVCFs'  {
				if ( params.gatk_build == 3 ) {
					conda = 'bioconda::gatk=3.8 conda-forge::gzip'
				} else if ( params.gatk_build == 4 ) {
					conda = 'bioconda::gatk4=4.2.3.0 conda-forge::gzip'
				}
			withName: 'genMapIndex|genMapMap' {
				conda = 'bioconda::genmap=1.2.0 conda-forge::ruby=2.6.3'
			}
			withName: 'repeatMask|repeatMaskRM' {
				conda = 'bioconda::repeatmasker=4.0.9 conda-forge::ruby=2.6.3'
			}
			withName: repeatModeler {
				conda = 'bioconda::repeatmodeler=2.0.1'
			}
			withName: 'maskIndels|simplifyBed|calcDNMRate|generateSummaryStats' {
				conda = 'conda-forge::ruby=2.6.3'
			}
			withName: 'filterChr|splitTrios' {
				conda = 'bioconda::vcftools=0.1.16 conda-forge::gzip conda-forge::gawk bioconda::bcftools=1.9'
			}
			withName: pullDPGQ {
				conda = 'bioconda::bcftools=1.9'
			}
			withName: plotDPGQ {
				conda = 'r::r-tidyverse=1.3.1 r::r-data.table=1.14.2'
			}
			withName: splitVCFs {
				conda = 'conda-forge::ruby=2.6.3 bioconda::htslib=1.9'	
			}
			withName: vcftoolsFilterSites {
				conda = 'bioconda::vcftools=0.1.16 bioconda::htslib=1.9 bioconda::bcftools=1.9'
			}
			withName: gatkFilterSites {
				if ( params.gatk_build == 3 ) {
					conda = 'bioconda::gatk=3.8 bioconda::htslib=1.9 bioconda::vcftools=0.1.16 bioconda::bcftools=1.9'
				} else if ( params.gatk_build == 4 ) {
					conda = 'bioconda::gatk4=4.2.3.0 bioconda::htslib=1.9 bioconda::vcftools=0.1.16 bioconda::bcftools=1.9'
				}
			}
			withName: filterRegions {
				conda = 'bioconda::bedtools=2.28.0 bioconda::vcftools=0.1.16 conda-forge::gzip bioconda::bcftools=1.9'
			}
			withName: summarizeDNM {
				conda = 'conda-forge::ruby=2.6.3 conda-forge::gzip bioconda::bcftools=1.9'
			}
			withName: sanityCheckLogs {
				conda = 'conda-forge::gzip'
			}
		}/*
	}
}
